<!-- Tables
================================================== -->
<section id="tables">
  <div class="sub-header">
    <h2>Vehicles</h2>
  </div>
  <table class="table table-striped full-section table-hover">
    <thead>
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @vehicles.each do |vehicle| %>
        <tr>
          <td><%= vehicle.year.year %></td>
          <td><%= vehicle.make %></td>
          <td><%= vehicle.model %></td>
          <td><%= link_to 'Edit', edit_vehicle_path(vehicle), :class => 'btn btn-small' %>
            &nbsp; <%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' },
                               :class=> 'btn btn-small btn-danger' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <br />
  <div class="form-actions">
    <%= link_to 'New Vehicle', new_vehicle_path, :class => 'btn btn-primary' %>
  </div>
</section>