<div class="row">
  <div class="panel panel-info">
    <div class="panel-heading">Transaction Details</div>
    <div class="panel-body">
      <p>
        <strong>Date:</strong>
        <%= @transaction.date %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @transaction.description %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= @transaction.category.name %>
      </p>

      <p>
        <strong>Amount:</strong>
        <%= @transaction.amount %>
      </p>

      <p>
        <strong>Is income:</strong>
        <%= @transaction.is_income %>
      </p>

      <p>
        <strong>Comments:</strong>
        <%= @transaction.comments %>
      </p>
      <%= link_to edit_transaction_path(@transaction), :class=> 'btn btn-primary' do %>
          <i class="glyphicon glyphicon-edit"></i> Edit
      <% end %>
      <%= link_to transactions_path, :class => 'btn btn-success' do %>
          <i class="glyphicon glyphicon-hand-left"></i> Back
      <% end %>
    </div>
  </div>
</div>

